<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

<section class="content">
  <header>
  <nav id="navbar">
        <ul>
            {% if current_user.id != null %}
                <li style="width: 33.33%;"><a href="/protected">{{ current_user.id }}</a></li>
                <li style="width: 33.33%;"><a href="/settings">Settings</a></li>
                <li style="width: 33.33%;"><a href="/logout">Logout</a></li>
            {% endif %}
            {% if current_user.id == null %}
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block header %}

    {% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>